* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --violet: rgb(86, 46, 229);
  --violet-shadow: rgba(86, 46, 229, 0.20);
  --turquoise: rgb(79, 227, 193);
}

html {
  width: 100%;
}

body {
  width: 100%;
}

#root {
  border-top: 5px solid var(--violet);
  display: flex;
  justify-content: center;
}

.App {
  /* Sticky footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* End Sticky footer */
  width: 100%;
  max-width: 90%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.logo {
  padding: 20px;
}

.App-body {
  /* Sticky footer */
  flex: 1;
  /* End Sticky footer */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--violet);
}

.search-bar-image {
  margin-top: 40px;
  margin-left: 25px;
}

.search-bar .form {
  width: 100%;
}

.search-bar .input {
  border: 1px solid var(--violet);
  border-right: none;
  border-radius: 20px 0 0 20px;
  padding: 10px;
  width: 400px;
}

.search-bar .visible-tags {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom: none;
}

.magnifier-icon {
  width: 10px;
}

.loading-icon {
  width: 200px;
  margin: 100px;
}

.btn {
  background-color: var(--violet);
  color: white;
  border: 1px solid var(--violet);
  border-radius: 20px;
  padding: 10px;
}

.btn-dark {
  
}

.btn:active {
  box-shadow: 7px 6px 28px 1px var(--violet-shadow);
  transform: scale(0.98);
}

.btn-search {
  background-color: var(--violet);
  color: white;
  border: 1px solid var(--violet);
  border-radius: 0 20px 20px 0;
  padding: 10px;
}

.search-bar .btn-search.visible-tags {
  border-radius: 0 20px 0 0;
}

.dropdown {
  border: 1px solid var(--violet);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.dropdown li {
  list-style-type: none;
}

.dropdown li ul:hover {
  font-weight: bold;
  color: var(--violet);
}

.dropdown .tag {
  border-bottom: 1px solid var(--violet);
  width: 100%;
  padding: 10px;
  font-size: 13px;
}

.tag:last-child {
  border-bottom: none;
}

.gif-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0 50px 0;
  background-color: aliceblue;
}

.gif {
  margin: 10px;
  box-shadow: 7px 6px 28px 1px var(--violet-shadow);
}

.gif-container .gif {
  object-fit: cover;
  width: 250px;
  height: 250px;
}

footer {
  background-color: aquamarine;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: var(--violet);
  color: white;
}

/* Dark Mode Styles */
.App.dark {
  background-color: darkcyan;
  /* max-width: 100%; */
}

@media (min-width: 375px) {
  .header {
    padding: 50px 0 50px 0;
  }

  .title {
    font-size: 20px;
  }

  .friends img {
    width: 90%;
  }

  .form {
    display: flex;
    justify-content: center;
  }

 .search-bar .input {
    width: 100%;
 }
}